arrow==0.10.0
click==6.7
Flask==0.12.2
irodsqueue==0.1.0a0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
prettytable==0.7.2
python-dateutil==2.6.1
python-irodsclient==0.7.0a0
redis==2.10.6
rq==0.9.1
rq-dashboard==0.3.10
six==1.11.0
Werkzeug==0.12.2
xmlrunner==1.7.7

